<p class="ql-align-center"><strong>PROCEEDINGS OF THE REGIONAL JOINT DIRECTOR OF SCHOOL EDUCATION,</strong></p><p
        class="ql-align-center"><strong> ZONE: {{zone_name}}</strong></p><p class="ql-align-center"><strong>PRESENT:
    {{officer_name}}</strong></p><p class="ql-align-right">Rc.No: {{rc_number}}</p><p class="ql-align-right">Date:
    {{date}}</p><p><br></p><p><strong>Sub:-</strong> School Education Department - Awarding of promotions to School
    Assistant &amp; equivalent cadres to the post of Headmasters Gr-II in GVMC / VMC / Municipal Schools / Mpl
    Corporation Schools on Adhoc basis - Orders – Issued.</p><p><strong>&lt;&lt;&lt;&gt;&gt;&gt;</strong></p><h4
        class="ql-align-right"><strong>ORDER:</strong></h4><p> The Government vide reference 4th read above, have issued
    orders and prescribed norms for re-apportionment of teaching staff under various managements viz., Government, Zilla
    Parishad/Mandal Parishad and Municipal Schools. As such, instructions have been issued by the Director of School
    Education, A.P., Amaravati to all Regional Joint Directors of School Education and District Educational Officers in
    the state to take up promotions from the feeder category of School Assistant &amp; equivalent cadre for the vacant
    post of Headmaster Gr-II, and feeder category of Secondary Grade Teacher and equivalent cadres for the vacant posts
    of School Assistant to the extent of need on adhoc basis in accordance with the rules vide reference 5th read
    above.</p><p>Accordingly, certain School Assistants and equivalent cadre working in GVMC / VMC / Municipal Schools /
    Mpl Corporation Schools have exercised their options through web counselling for promotion to the post of Headmaster
    Gr-II.</p><p>After carefully examining their eligibility, the School Assistants and equivalent cadre as shown in the
    annexure are hereby promoted to the post of Headmasters Gr-II under Rule 10 (a) of A.P. State and Sub-ordinate
    Service Rules 1996, read with various orders / instructions issued for promotions on purely adhoc basis.</p><p>The
    above promotions are purely temporary and are liable for reversion at any time without any notice and without
    assigning any reason thereof for such reversion.</p><p>The promotion orders now issued are subject to the following
    conditions:</p><p><br></p>
<ul>
    <li>That their promotion is subject to the outcome of the judgments pending before the Hon’ble High Court/ Supreme
        Court of India if any.
    </li>
    <li>That they shall abide by the terms and conditions stipulated by the Government from time to time and they are
        liable for any disciplinary action deemed fit for violation thereof if any.
    </li>
</ul><p>The Mandal Educational Officers/Headmasters concerned are requested to relieve the teachers immediately, for
    enabling them to join in the promoted place.</p><p>The Deputy Educational Officer concerned are requested to allow
    the individual to join in the promoted place immediately. If the Headmaster (Gr.II) is not joined in the promoted
    place, cannot claim compulsory wait, under any circumstances for any reason.</p><p>Encl: Annexure 1</p><p><br></p>
<p><strong>REGIONAL JOINT DIRECTOR OF SCHOOL EDUCATION</strong></p><p><strong>ZONE-{{zone_number}}</strong></p>