<p class="ql-align-right"><strong>PROCEEDINGS OF THE DISTRICT EDUCATIONAL OFFICER, {{district_name}}</strong></p><p
        class="ql-align-right"><strong>PRESENT: {{officer_name}}</strong></p><p>Rc.No: {{rc_number}}</p><p>Date:
    {{date}}</p><p><br></p><p><strong>Sub:-</strong> School Education Department - Awarding of promotions to Secondary
    Grade Teacher &amp; equivalent cadres to the post of PSHM in Municipal schools on Adhoc basis - Orders - Issued.</p>
<p class="ql-align-center"><strong>&lt;&lt;&lt;&gt;&gt;&gt;</strong></p><h4><strong>ORDER:</strong></h4><p> The
    Government vide reference 4th read above, have issued orders and prescribed norms for re-apportionment of teaching
    staff under various managements viz., Government, Zilla Parishad/ Mandal Parishad and Municipal Schools. As such,
    instructions have been issued by the Director of School Education, A.P., Amaravati to all Regional Joint Directors
    of School Education and District Educational Officers in the state to take up promotions from the feeder category of
    School Assistant &amp; equivalent cadre for the vacant post of Headmaster Gr.II and feeder category of Secondary
    Grade Teacher and equivalent cadres for the vacant posts of School Assistant to the extent of need on adhoc
    basis.</p><p>Accordingly, certain Secondary Grade Teachers and equivalent cadres working in Municipal schools have
    exercised their options through web counselling to the post of School Assistant / MPS Headmaster.</p><p>After
    carefully examining their eligibility, the Secondary Grade Teachers and equivalent cadres as shown in the annexure
    are hereby promoted to the post of PSHM / MPS Headmaster under Rule 10(a) of A.P. State and Sub-Ordinate Service
    Rules 1996, read with various orders / instructions issued for promotions of Secondary Grade Teacher and equivalent
    cadres to the post of School Assistants / MPS Headmaster in Municipal schools on purely adhoc basis.</p><p>The above
    promotions are purely temporary and liable for reversion at any time without any notice and without assigning any
    reason.</p><p>The promotion orders now issued are subject to the following conditions:</p><p><br></p>
<ul>
    <li>That their promotion is subject to the outcome of the judgments pending before the Hon’ble High Court/ Supreme
        Court of India if any.
    </li>
    <li>That they shall abide by the terms and conditions stipulated by the Government from time to time and they are
        liable for any disciplinary action deemed fit for violation thereof if any.
    </li>
</ul><p>The Mandal Educational Officers and the Headmasters are instructed to relieve the teachers immediately to enable
    them to join at their promoted place without delay. Similarly, they are directed to permit the individuals to join
    at their promoted places immediately.</p><p>If an individual fails to join at the promoted place, he/she shall not
    be entitled to claim 'compulsory wait' under any circumstances.</p><p>Encl: Annexure</p><p><br></p><p><strong>DISTRICT
    EDUCATIONAL OFFICER</strong></p><p><strong>{{district_name}}</strong></p>