<p><strong>PROCEEDINGS OF THE DISTRICT EDUCATIONAL OFFICER AND MEMBER SECRETARY:</strong></p><p><strong>
    {{district_name}} DISTRICT</strong></p><p><strong>PRESENT: {{officer_name}}</strong></p><p class="ql-align-right">
    Rc.No: {{rc_number}}</p><p class="ql-align-right">Date: {{date}}</p><p><br></p><p class="ql-align-justify"><strong>Sub:-</strong>
    School Education Department – AP Teachers (Regulation of Transfers) Rules – Transfer and Posting orders as per the
    web option exercised by individual(s) – Orders – Issued.</p><p class="ql-align-center">
    <strong>&amp;&amp;&amp;&amp;</strong></p><h4><strong>ORDER:</strong></h4><p> The Government of Andhra Pradesh has
    issued rules for the transfer of Headmasters (Gr.II), School Assistants (SAs) &amp; Equivalent cadres, Secondary
    Grade Teachers (SGTs) &amp; equivalent categories working in Government, Zilla Praja Parishad, and Mandal Praja
    Parishad and Municipal Schools in the State.</p><p>In pursuance of the orders issued by the Government and in
    compliance with the instructions issued by the Director of School Education, A.P., the process of re-apportionment
    was taken up in all schools in the district.</p><p>After the above process and as per the Web options exercised by
    the teachers, the District Level Committee constituted as per the rules has decided to issue the transfers.
    Accordingly, the District Educational Officer, <strong>{{district_name}}</strong> District and Member-Secretary is
    pleased to transfer and post the Teacher(s) as shown in the Annexure appended to this proceeding.</p><p>The Mandal
    Educational Officers/Headmasters concerned are requested to relieve the Teacher(s) immediately, for enabling them to
    join at the new station. They are instructed to ensure that at least 50% of the regular teachers are retained in the
    school, with any fractional value rounded up to the next whole number.</p><p>If 50% of the regular staff is not
    available, the junior-most among the relieved teachers shall report back and continue in the relieving school until
    a substitute joins. In the case of School Assistants, a minimum of 50% of teachers shall be ensured for each
    subject.</p><p>A teacher not joined in the transferred place cannot claim compulsory wait under any
    circumstances.</p><p>The orders now issued are subject to the final outcome of the judgements of the Hon’ble
    Courts.</p><p>Encl: Annexure</p><p><br></p><p class="ql-align-right"><strong>DISTRICT EDUCATIONAL OFFICER</strong>
</p><p class="ql-align-right"><strong>&amp; MEMBER SECRETARY</strong></p><p class="ql-align-right"><strong>{{district_name}}
    DISTRICT</strong></p>